
	<!-- COVER & SEARCH SECTION -->
<div class="cover-container">
	<div class="cover">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<div class="row center">
					<!-- <h5 class="header col s12 intro-text-1">Find the Best in Town</h5> -->
					<h3 class="header col s12 intro-text">FIND THE BEST IN TOWN</h3>
				</div>

				<div class="search-display">			
					<form class="cover-search">
		        <div class="input-field">
		          <input type="search">
		          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
		        </div>
		      </form>
		    </div>
			</div>
		</div>
	</div>
</div>

	<!-- FEATURED SECTION -->
	<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Featured</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l4">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l4">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l4">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l4">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1485704686097-ed47f7263ca4?dpr=1&auto=format&fit=crop&w=1500&h=976&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l4">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1469307670224-ee31d24b6b9a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l4">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

	</div>	
</div>

	<!-- END OF FEATURED SECTION -->


	<!-- AMERICAN SECTION -->
<div class="container cover-american"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">American Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- CHINESE SECTION -->
<div class="container cover-chinese"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Chinese Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- FRENCH SECTION -->
<div class="container cover-french"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">French Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- INDIAN SECTION -->
<div class="container cover-indian"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Indian Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- ITALIAN SECTION -->
<div class="container cover-italian"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Italian Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- JAPANESE SECTION -->
<div class="container cover-japanese"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Japanese Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- KOREAN SECTION -->
<div class="container cover-korean"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Korean Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- MEXICAN SECTION -->
<div class="container cover-mexican"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Mexican Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- NEPALI SECTION -->
<div class="container cover-nepali"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Nepali Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- THAI SECTION -->
<div class="container cover-thai"></div>

<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Thai Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- VIETNAMESE SECTION -->
<div class="container cover-vietnamese"></div>


<!-- ng-repeat this card -->
<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Vietnamese Cuisine</h5></blockquote>
	<div class="bus-cards row">
		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
		        <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span> 
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1487004121828-9fa15a215a7a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->

		<!-- <div class="row"> -->
		  <div class="col s12 m6 l3">
		    <div class="card sticky-action">
		      <div class="card-image">
		        <img src="https://images.unsplash.com/photo-1478749485505-2a903a729c63?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		      </div>
		      <div class="card-content">
		      	<span class="card-title activator">Card Title<i class="material-icons right">more_vert</i></span>	        
		        <p>I am a very simple card. I am good at containing small bits of information.</p>
		      </div>
		      <div class="card-action">
            <a href="#">This is a link</a>
          </div>
		      <div class="card-reveal">
      			<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      			<p>Here is some more information about this product that is only revealed once clicked on.</p>
    			</div>
		    </div>
		  </div>
		<!-- </div> -->
	</div>
</div>

	<!-- END OF CUISINE TYPES -->



<!-- <h1>{{test}}</h1>
<h1>{{test2}}</h1> -->