
<!-- COVER & SEARCH SECTION -->
<div class="cover-container">
	<div class="cover">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<div class="row center">
					<h3 class="header col s12 intro-text">FIND THE BEST IN TOWN</h3>
				</div>
				<div class="search-display">			
					<form class="cover-search">
		        <div class="input-field">
		          <input type="search" ng-model="searchKey">
		          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
				      <i ng-click="searchBusiness(searchKey)" ui-sref="search" class="material-icons large">input</i>
		        </div>
		      </form>
		    </div>
			</div>
		</div>
	</div>
</div>

<!-- FEATURED SECTION -->
<div class="container bus-cards-container">
	<blockquote>
		<h5 class="featured">Featured | <a ui-sref="all({type: 'Featured'})"><small class="black-text">See All</small></a></h5>
	</blockquote> 

  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
		  <button class="left"
    	ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
    	ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

  	 <button class="right"
    	ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
    	ng-disabled="cardflowSnapPage.current >= (featured.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card featured" ng-repeat="feat in featured">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: feat.id })">
            <img ng-src="{{feat.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{feat.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ feat.bus_phone }}</p>
            <p>{{ feat.bus_email }}</p>
	        	<p class="truncate">{{ feat.bus_desc }}</p>
	        </div>
          <div class="card-action center">
            <a ui-sref="b({ id: feat.id })"><i class="small material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ feat.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ feat.bus_cuisine }} cuisine</p>
  					<p>{{ feat.bus_phone }}</p>
  					<p>{{ feat.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>

</div> 
<!-- END OF FEATURED SECTION -->


	<!-- RESTAURANTS SECTION -->
<div class="container cover-restaurants"></div>

<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Restaurants | <a ui-sref="all({type: 'Restaurants'})"><small class="black-text">See All</small></a></h5></blockquote>

  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
      <button class="left"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
      ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

     <button class="right"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
      ng-disabled="cardflowSnapPage.current >= (restaurants.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card business" ng-repeat="res in restaurants">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: res.id })">
            <img ng-src="{{res.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{res.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ res.bus_cuisine }} cuisine</p>
            <p>{{ res.bus_phone }}</p>
            <p>{{ res.bus_email }}</p>
	        	<p class="truncate">{{ res.bus_desc }}</p>
	        </div>
          <div class="card-action center">
          	<a ui-sref="b({ id: res.id })"><i class="material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ res.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ res.bus_cuisine }} cuisine</p>
  					<p>{{ res.bus_phone }}</p>
  					<p>{{ res.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>

</div> 
<!-- END OF RESTAURANTS SECTION -->


<!-- COFFEE / CAFE SECTION -->
<div class="container cover-coffee"></div>

<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Coffee / Cafe | <a ui-sref="all({type: 'Coffee-Cafe'})"><small class="black-text">See All</small></a></h5></blockquote>
	
  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
      <button class="left"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
      ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

     <button class="right"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
      ng-disabled="cardflowSnapPage.current >= (coffeeCafe.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card business" ng-repeat="cc in coffeeCafe">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: cc.id })">
            <img ng-src="{{cc.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{cc.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ cc.bus_cuisine }} cuisine</p>
            <p>{{ cc.bus_phone }}</p>
            <p>{{ cc.bus_email }}</p>
	        	<p class="truncate">{{ cc.bus_desc }}</p>
	        </div>
          <div class="card-action center">
            <a ui-sref="b({ id: cc.id })"><i class="small material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ cc.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ cc.bus_cuisine }} cuisine</p>
  					<p>{{ cc.bus_phone }}</p>
  					<p>{{ cc.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>

</div> 
<!-- END OF COFFEE / CAFE SECTION -->


<!-- BARS SECTION -->
<div class="container cover-bars"></div>

<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Bars | <a ui-sref="all({type: 'Bars'})"><small class="black-text">See All</small></a></h5></blockquote>

  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
      <button class="left"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
      ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

     <button class="right"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
      ng-disabled="cardflowSnapPage.current >= (bars.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card business" ng-repeat="bar in bars">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: bar.id })">
            <img ng-src="{{bar.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{bar.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ bar.bus_cuisine }} cuisine</p>
            <p>{{ bar.bus_phone }}</p>
            <p>{{ bar.bus_email }}</p>
	        	<p class="truncate">{{ bar.bus_desc }}</p>
	        </div>
          <div class="card-action center">
            <a ui-sref="b({ id: bar.id })"><i class="small material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ bar.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ bar.bus_cuisine }} cuisine</p>
  					<p>{{ bar.bus_phone }}</p>
  					<p>{{ bar.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>
	
</div> 
<!-- END OF BARS SECTION -->


<!-- BAKERY SECTION -->
<div class="container cover-bakery"></div>

<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Bakery | <a ui-sref="all({type: 'Bakery'})"><small class="black-text">See All</small></a></h5></blockquote>

  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
      <button class="left"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
      ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

     <button class="right"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
      ng-disabled="cardflowSnapPage.current >= (bakeries.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card business" ng-repeat="bake in bakeries">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: bake.id })">
            <img ng-src="{{bake.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{bake.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ bake.bus_cuisine }} cuisine</p>
            <p>{{ bake.bus_phone }}</p>
            <p>{{ bake.bus_email }}</p>
	        	<p class="truncate">{{ bake.bus_desc }}</p>
	        </div>
          <div class="card-action center">
            <a ui-sref="b({ id: bake.id })"><i class="small material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ bake.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ bake.bus_cuisine }} cuisine</p>
  					<p>{{ bake.bus_phone }}</p>
  					<p>{{ bake.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>

</div> 
<!-- END OF BAKERY SECTION -->


<!-- DESSERT SECTION -->
<div class="container cover-dessert"></div>

<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Dessert | <a ui-sref="all({type: 'Dessert'})"><small class="black-text">See All</small></a></h5></blockquote>
	
  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
      <button class="left"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
      ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

     <button class="right"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
      ng-disabled="cardflowSnapPage.current >= (desserts.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card business" ng-repeat="dess in desserts">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: dess.id })">
            <img ng-src="{{dess.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{dess.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ dess.bus_cuisine }} cuisine</p>
            <p>{{ dess.bus_phone }}</p>
            <p>{{ dess.bus_email }}</p>
	        	<p class="truncate">{{ dess.bus_desc }}</p>
	        </div>
          <div class="card-action center">
            <a ui-sref="b({ id: dess.id })"><i class="small material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ dess.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ dess.bus_cuisine }} cuisine</p>
  					<p>{{ dess.bus_phone }}</p>
  					<p>{{ dess.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>

</div> 
<!-- END OF DESSERT SECTION -->


<!-- FOOD TRUCK / TAKE OUTS SECTION -->
<div class="container cover-foodtrucks"></div>

<div class="container bus-cards-container">
	<blockquote><h5 class="featured">Food Trucks / Take Outs | <a ui-sref="all({type: 'Food-Trucks-Take-Outs'})"><small class="black-text">See All</small></a></h5></blockquote>
	
  <div ng-if="dataFromServer" class="cardflow-row">
    <div class="row cardflow-btn">
      <button class="left"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current - cardflowSnapPage.pageSize" 
      ng-disabled="cardflowSnapPage.current <= 0"><i class="material-icons">navigate_before</i></button>

     <button class="right"
      ng-click="cardflowSnapPage.current = cardflowSnapPage.current + cardflowSnapPage.pageSize"  
      ng-disabled="cardflowSnapPage.current >= (takeouts.length - cardflowSnapPage.pageSize)"><i class="material-icons">navigate_next</i></button>
    </div>

    <cardflow model="cardflowSnapPage" mode="swipeSnapPage" class="page">
      <div class="cardflow-card business" ng-repeat="take in takeouts">
        <div class="card sticky-action">
          <div class="card-image" ui-sref="b({ id: take.id })">
            <img ng-src="{{take.bus_cover_img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator">{{take.bus_name}}<i class="material-icons right">more_vert</i></span>
            <p>{{ take.bus_cuisine }} cuisine</p>
            <p>{{ take.bus_phone }}</p>
            <p>{{ take.bus_email }}</p>
	        	<p class="truncate">{{ take.bus_desc }}</p>
	        </div>
          <div class="card-action center">
            <a ui-sref="b({ id: dess.id })"><i class="small material-icons">visibility</i></a>
            <a onclick="Materialize.toast('We Heart You Too!', 2000, 'pink')"><i class="material-icons">favorite</i></a>
            <a onclick="Materialize.toast('Added to your list.', 2000, 'green')"><i class="material-icons">add</i></a>
            <a href="https://www.google.com"><i class="small material-icons">navigation</i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ take.bus_name }}<i class="material-icons right">close</i></span>
            <p>{{ take.bus_cuisine }} cuisine</p>
  					<p>{{ take.bus_phone }}</p>
  					<p>{{ take.bus_email }}</p>
          </div>
        </div>
      </div>
    </cardflow>
  </div>

</div>	
<!-- END OF FOOD TRUCKS / TAKE OUTS SECTION -->

<!-- END OF MAIN SECTION -->