
	<!-- DEFAULT LIGHT THEME -->

	<!-- hide-on-med-and-up -->
<!-- 	<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div> -->

	<!-- COVER -->
<div class="def-cover-container" ng-style="{'background-image': 'url('+ b1.bus_cover_img +')'}">
	<div class="bg-tint">
		<div class="section no-pad-bot">
			<div class="container">

				<br><br>
				<div class="center def-logo">
					<img class="responsive-img" ng-src="{{ b1.bus_logo }}">
				</div>
				<div class="row center">
					<h3 class="header col s12 white-text def-intro-text">{{ b1.bus_name }}</h3>
					<h5 class="header col s12 white-text">{{ b1.bus_slogan }}</h5>
				</div>
				<br><br>
				<div class="row center">
					<h5 class="col s12 white-text">{{ b1.street }} {{ b1.city }}, {{ b1.state }}</h5>
					<h5 class="col s12 white-text">{{ b1.bus_phone }}</h5>
				</div>
				<br><br>
				<div class="row center def-menu-container">

					<div class="def-menu-icon col s3 m3 l3">
						<a scroll-spy href="#menu">
						<i class="medium material-icons white-text">restaurant_menu</i>
						<span class="white-text">Menu</span></a>
					</div>

					<div class="def-menu-icon col s3 m3 l3">
						<a scroll-spy href="#contact">
						<i class="medium material-icons white-text">phone</i>
						<span class="white-text">Contact</span></a>
					</div>
					<div class="def-menu-icon col s3 m3 l3" >
						<a scroll-spy href="#hours">
						<i class="medium material-icons white-text">query_builder</i>
						<span class="white-text">Hours</span></a>
					</div>
					<div class="def-menu-icon col s3 m3 l3">
						<a scroll-spy href="#gallery">
						<i class="medium material-icons white-text">perm_media</i>
						<span class="white-text">Gallery</span></a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="section-container">
	<div class="container row center def-section-title">
		<h4>Restaurant</h4>
		<hr>
		<p class="def-p-tag">{{ b1.bus_desc }}</p>
	</div>
</div>

<div class="section-container bus-parallax valign-wrapper" ng-style="{'background-image': 'url('+ s1[0].parallax_img +')'}">
	<div class="container def-cards">
  	<div class="card horizontal custom-cards">
    	<div class="card-image custom-image">
      	<img ng-src="{{ s1[0].special_img }}">
    	</div>
    	<div class="card-stacked">
      	<div class="card-content">
      		<h5 class="center">{{ s1[0].special_name }}</h5>
        	<p class="def-p-tag">{{ s1[0].special_desc }}</p>
      	</div>
    	</div>
  	</div>
	</div>
</div>


<div id="menu" class="section-container def-bus-menu">
	<div class="container row def-section-title">
		<h4 class="center">Menu</h4>
		<hr>
		<div class="row bus-menu-items">

			<div class="col s12 m4" ng-repeat="menu in m1">
				<div class="bus-menu-col">
					<h5>{{ menu.bus_menu_title }}</h5>
					<dl ng-repeat="item in menu.items">
						<dt>{{ item.menu_item_name }}</dt>
						<dd>
							<small>{{ item.menu_item_desc }}</small>
							<strong>${{ item.menu_item_price }}</strong>
						</dd>
					</dl>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="section-container bus-parallax valign-wrapper" ng-style="{'background-image': 'url('+ s1[1].parallax_img +')'}">
	<div class="container def-cards">
  	<div class="card horizontal custom-cards">
    	<div class="card-stacked">
      	<div class="card-content">
      		<h5 class="center">{{ s1[1].special_name }}</h5>
        	<p class="def-p-tag">{{ s1[1].special_desc }}</p>
      	</div>
    	</div>
    	<div class="card-image custom-image">
      	<img src="{{ s1[1].special_img }}">
    	</div>
  	</div>
	</div>
</div>



<div id="hours" class="section-container">
	<div class="container row center def-section-title">
		<h4>Hours</h4>
		<hr>
		<div class="col s12 m6 hours-table">
			<table>
        <thead>
          <tr>
            <th>WEEK</th>
            <th>HOURS</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>SUNDAY</td>
            <td>{{ b1.sunday }}</td>
          </tr>
          <tr>
            <td>MONDAY</td>
            <td>{{ b1.monday }}</td>
          </tr>
          <tr>
            <td>TUESDAY</td>
            <td>{{ b1.tuesday }}</td>
          </tr>
          <tr>
            <td>WEDNESDAY</td>
            <td>{{ b1.wednesday }}</td>
          </tr>
          <tr>
            <td>THURSDAY</td>
            <td>{{ b1.thursday }}</td>
          </tr>
          <tr>
            <td>FRIDAY</td>
            <td>{{ b1.friday }}</td>
          </tr>
          <tr>
            <td>SATURDAY</td>
            <td>{{ b1.saturday }}</td>
          </tr>
        </tbody>
      </table>
		</div>
		<div class="col s12 m6 more-hours-info">
			<h4 class="header">Happy-Hours</h4>
			<p class="def-p-tag">{{ b1.bus_happy_hours }}</p>
		</div>
	</div>
</div>


<div id="gallery" class="section-container">
	<div class="container def-section-title">
		<h4 class="center">Gallery</h4>
		<br>
	</div>
	<div class="row gallery">
		<div class="col s6 m4 l3" ng-repeat="img in g1">
			<img class="responsive-img" ng-src="{{ img.gallery_img_url }}">
		</div>
	</div>
</div>

<div id="contact" class="contact-container">
	<div class="container row center def-section-title">
		<h4>Contact Us</h4>
		<hr>
		<div class="center col s12 m6">
			<h4>{{ b1.bus_name }}</h4>
			<p class="def-p-tag">
				{{ b1.street}} <br>
				{{ b1.city }}, {{ b1.state }} {{ b1.zip }} <br>
				{{ b1.bus_phone }} <br>
				{{ b1.bus_email }}
			</p>
		</div>
		<div class="col s12 m6">
			<h4>Social</h4>
			<div class="row center social-icons">
					
      		<a href="{{ b1.facebook }}"><i class="fa fa-facebook-square fa-3x"></i></a>
      		<a href="{{ b1.googleplus }}"><i class="fa fa-google-plus-square fa-3x"></i></a>
      		<a href="{{ b1.instagram }}"><i class="fa fa-instagram fa-3x"></i></a>
      		<br>      	
      		<a href="{{ b1.yelp }}"><i class="fa fa-yelp fa-3x"></i></a>
      		<a href="{{ b1.tripadvisor }}"><i class="fa fa-tripadvisor fa-3x"></i></a>
      		<a href="{{ b1.pinterest }}"><i class="fa fa-pinterest-square fa-3x"></i></a>
      		<a href="{{ b1.twitter }}"><i class="fa fa-twitter-square fa-3x"></i></a>
			</div>
		</div>
	</div>
</div>