
<link rel="stylesheet" href="./styles/merofood_default.css">

	<!-- COVER & SEARCH SECTION -->
<div class="def-cover-container">
	<div class="def-cover">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<div class="center def-logo">
					<img src="../img/mero-sample-logo.png">
				</div>
				<div class="row center">
					<!-- <h5 class="header col s12 intro-text-1">Find the Best in Town</h5> -->
					<h3 class="header col s12 def-intro-text">FIND THE BEST IN TOWN</h3>
				</div>

			</div>
		</div>
	</div>
</div>
