
	<!-- DEFAULT THEME -->

<link rel="stylesheet" href="./styles/merofood_default.css">

	<!-- COVER -->
<div class="parallax-container def-cover-container">
	<div parallax>
		<img src="https://images.unsplash.com/photo-1484659619207-9165d119dafe?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
	</div>
	<div class="def-cover">
		<div class="section no-pad-bot">
			<div class="container">

				<br><br>
				<div class="center def-logo">
					<img class="responsive-img" src="../img/mero-sample-logo.png">
				</div>
				<div class="row center">
					<h3 class="header col s12 white-text def-intro-text">MERO FOOD</h3>
					<h5 class="header col s12 white-text">Serving Best Steak and Burgers for 15 Years</h5>
				</div>
				<br><br>
				<div class="row center">
					<h5 class="col s12 white-text">123 Main St. Provo, UT</h5>
					<h5 class="col s12 white-text">555 - 555 -5555</h5>
				</div>
				<br><br>
				<div class="row center def-menu-container">

					<div class="def-menu-icon col s3 m3 l3">
						<i class="medium material-icons white-text">restaurant_menu</i>
						<span class="white-text">Menu</span>
					</div>
					<div class="def-menu-icon col s3 m3 l3">
						<i class="medium material-icons white-text">phone</i>
						<span class="white-text">Phone</span>
					</div>
					<div class="def-menu-icon col s3 m3 l3">
						<i class="medium material-icons white-text">query_builder</i>
						<span class="white-text">Hours</span>
					</div>
					<div class="def-menu-icon col s3 m3 l3">
						<i class="medium material-icons white-text">perm_identity</i>
						<span class="white-text">About</span>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="section-container">
	<div class="container row center def-brief-info">
		<h4>Restaurant</h4>
		<hr>
		<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
	</div>
</div>

<div class="parallax-container section-container">
	<div parallax> 
		<img src="https://images.unsplash.com/photo-1491217821879-7f1bb896efc1?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=&bg=">
	</div>

	<div class="container def-cards">
  	<div class="card horizontal">
    	<div class="card-image">
      	<img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
    	</div>
    	<div class="card-stacked">
      	<div class="card-content">
      		<h4 class="center">Title</h4>
        	<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
      	</div>
    	</div>
  	</div>

	</div>	
</div>


<div class="section-container">
	<div class="container row center def-brief-info">
		<h4>Restaurant</h4>
		<hr>
		<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
	</div>
</div>


<div class="section-container">
	<div class="container row center def-brief-info">
		<h4>Restaurant</h4>
		<hr>
		<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
	</div>
</div>