
	<!-- DEFAULT THEME -->

<link rel="stylesheet" href="./styles/merofood_night.css">

	<!-- MATERIALIZE CSS / ANGULAR-MATERIALIZE 'PARALLAX' -->
	<!-- <div class="parallax-container">
		<div parallax>
			<img src="./image/path">
		</div>
	</div> -->

	<!-- COVER -->
<div class="def-cover-container">
	<div class="def-cover">
		<div class="section no-pad-bot">
			<div class="container">

				<br><br>
				<div class="center def-logo">
					<img class="responsive-img" src="../img/mero-sample-logo.png">
				</div>
				<div class="row center">
					<h3 class="header col s12 white-text def-intro-text">MERO FOOD - NIGHT</h3>
					<h5 class="header col s12 white-text">Serving Best Steak and Burgers for 15 Years</h5>
				</div>
				<br><br>
				<div class="row center">
					<h5 class="col s12 white-text">123 Main St. Provo, UT</h5>
					<h5 class="col s12 white-text">555 - 555 -5555</h5>
				</div>
				<br><br>
				<div class="row center def-menu-container">

					<div class="def-menu-icon col s3 m3 l3">
						<a scroll-spy href="#menu">
						<i class="medium material-icons white-text">restaurant_menu</i>
						<span class="white-text">Menu</span></a>
					</div>

					<div class="def-menu-icon col s3 m3 l3">
						<a scroll-spy href="#contact">
						<i class="medium material-icons white-text">phone</i>
						<span class="white-text">Contact</span></a>
					</div>
					<div class="def-menu-icon col s3 m3 l3" >
						<a scroll-spy href="#hours">
						<i class="medium material-icons white-text">query_builder</i>
						<span class="white-text">Hours</span></a>
					</div>
					<div class="def-menu-icon col s3 m3 l3">
						<a scroll-spy href="#gallery">
						<i class="medium material-icons white-text">perm_media</i>
						<span class="white-text">Gallery</span></a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="section-container">
	<div class="container row center def-section-title">
		<h4>Restaurant</h4>
		<hr>
		<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
	</div>
</div>

<div class="section-container parallax-bg1 bus-parallax valign-wrapper">
	<div class="container def-cards">
  	<div class="card horizontal custom-cards">
    	<div class="card-image custom-image">
      	<img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
    	</div>
    	<div class="card-stacked">
      	<div class="card-content">
      		<h5 class="center">Title</h5>
        	<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
      	</div>
    	</div>
  	</div>
	</div>
</div>


<div id="menu" class="section-container def-bus-menu">
	<div class="container row def-section-title">
		<h4 class="center">Menu</h4>
		<hr>
		<div class="row bus-menu-items">
			<div class="col s12 m4">
				<div class="bus-menu-col">
					<h5>Steaks</h5>
					<dl>
						<dt>Steak</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Steak</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Steak</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Steak</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Steak</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="bus-menu-col">
					<h5>Burgers</h5>
					<dl>
						<dt>Burger</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Burger</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Burger</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Burger</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Burger</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
				</div>	
			</div>
			<div class="col s12 m4">
				<div class="bus-menu-col">
					<h5>Drinks</h5>
					<dl>
						<dt>Drinks</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Drinks</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Drinks</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Drinks</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
					<dl>
						<dt>Drinks</dt>
						<dd>
							<small>Medium rare pink and jucy</small>
							<strong>$9.99</strong>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-container parallax-bg2 bus-parallax valign-wrapper">
	<div class="container def-cards">
  	<div class="card horizontal custom-cards">
    	<div class="card-stacked">
      	<div class="card-content">
      		<h5 class="center">Title</h5>
        	<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
      	</div>
    	</div>
    	<div class="card-image custom-image">
      	<img src="https://images.unsplash.com/photo-1428259067396-2d6bd3827878?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=&bg=">
    	</div>
  	</div>
	</div>
</div>



<div id="hours" class="section-container">
	<div class="container row center def-section-title">
		<h4>Hours</h4>
		<hr>
		<div class="col s12 m6 hours-table">
			<table>
        <thead>
          <tr>
            <th>WEEK</th>
            <th>HOURS</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>SUNDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
          <tr>
            <td>MONDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
          <tr>
            <td>TUESDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
          <tr>
            <td>WEDNESDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
          <tr>
            <td>THURSDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
          <tr>
            <td>FRIDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
          <tr>
            <td>SATURDAY</td>
            <td>10 AM - 10 PM</td>
          </tr>
        </tbody>
      </table>
		</div>
		<div class="col s12 m6 more-hours-info">
			<h4 class="header">Happy-Hours</h4>
			<p class="def-p-tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet dictum nisl. Curabitur vitae velit ultricies ante ultricies sodales. Fusce sollicitudin lectus nulla, finibus dapibus mi mollis eget. Nulla placerat ullamcorper augue, sed congue felis mollis rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada efficitur diam, nec mollis neque feugiat non.</p>
		</div>
	</div>
</div>


<div id="gallery" class="section-container">
	<div class="container def-section-title">
		<h4 class="center">Gallery</h4>
		<br>
	</div>
	<div class="row gallery">
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?dpr=1&auto=format&fit=crop&w=1500&h=1016&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1453831210728-695502f9f795?dpr=1&auto=format&fit=crop&w=1500&h=900&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1491739481003-2991327b66e2?dpr=1&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1488558980948-81db7f6c239c?dpr=1&auto=format&fit=crop&w=1500&h=1040&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1455853659719-4b521eebc76d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1490990813269-10586274747f?dpr=1&auto=format&fit=crop&w=1500&h=1225&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1477534980688-3ac008b36996?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		</div>
		<div class="col s6 m4 l3">
			<img class="responsive-img" src="https://images.unsplash.com/photo-1492683513054-55277abccd99?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
		</div>
	</div>
</div>

<div id="contact" class="contact-container">
	<div class="container row center def-section-title">
		<h4>Contact Us</h4>
		<hr>
		<div class="center col s12 m6">
			<h4>Mero Food</h4>
			<p class="def-p-tag">
				123 Main St. <br>
				Provo. UT <br>
				123-456-7890 <br>
				email@email.com
			</p>
		</div>
		<div class="col s12 m6">
			<h4>Social</h4>
			<div class="row center social-icons">
				
      		<i class="fa fa-facebook-square fa-3x"></i>
      		<i class="fa fa-google-plus-square fa-3x"></i>
      		<i class="fa fa-instagram fa-3x"></i>
      	
      		<br>
      		<!-- <i class="fa fa-twitter-square fa-3x"></i> -->
      	
      		<i class="fa fa-yelp fa-3x"></i>
      		<i class="fa fa-tripadvisor fa-3x"></i>
      		<i class="fa fa-pinterest-square fa-3x"></i>
			</div>
		</div>
	</div>
</div>