
.cover-container {
  height: 60vh;
  /*background: url('https://images.unsplash.com/photo-1490113355845-cdc3b65f0189?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;*/
  background: url('../img/shops.jpg') center no-repeat;
  background-size: cover;
}

/*.intro-text-1 {
  color: #fff;
  font-weight: bold;
}*/

.intro-text {
  color: #fff;
  font-weight: bold;
}

.cover-search {
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-search .input-field input {
  border-bottom: none;
}

.bus-cards-container {
  padding-top: 20px;
}

blockquote .featured {
  font-weight: 600;
}

.card .card-title {
  font-weight: 500;
}

.main-card img {
  max-height: 275px;
}

.cover-restaurants {
  margin-top: 30px;
  height: 30vh;
  /*background: url('../img/cover-american.jpg') center no-repeat;*/
  background: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;
  background-size: cover;
}

.cover-coffee {
  margin-top: 30px;
  height: 30vh;
  background: url('https://images.unsplash.com/photo-1483204358806-afc5571f655b?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;
  background-size: cover;
}

.cover-bars {
  margin-top: 30px;
  height: 30vh;
  background: url('https://images.unsplash.com/photo-1472245088132-ccd50746725c?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;
  background-size: cover;
}

.cover-bakery {
  margin-top: 30px;
  height: 30vh;
  background: url('https://images.unsplash.com/photo-1458938354258-3e66eb36eb7b?dpr=1&auto=format&fit=crop&w=1500&h=986&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;
  background-size: cover;
}

.cover-dessert {
  margin-top: 30px;
  height: 30vh;
  background: url('https://images.unsplash.com/photo-1483908514687-d25c79c15df0?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;
  background-size: cover;
}

.cover-foodtrucks {
  margin-top: 30px;
  height: 30vh;
  background: url('https://images.unsplash.com/photo-1471110338536-858caa3dbe45?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;
  background-size: cover;
}