
.cover-container {
  height: 60vh;
  /*background: url('https://images.unsplash.com/photo-1490113355845-cdc3b65f0189?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') center no-repeat;*/
  background: url('../img/shops.jpg') center no-repeat;
  background-size: cover;
}

/*.intro-text-1 {
  color: #fff;
  font-weight: bold;
}*/

.intro-text {
  color: #fff;
  font-weight: bold;
}

.cover-search {
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.input-field input {
  border-bottom: none;
}

.bus-cards-container {
  padding-top: 20px;
}

blockquote .featured {
  font-weight: 600;
}

.card .card-title {
  font-weight: 500;
}

.cover-american {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-american.jpg') center no-repeat;
  background-size: cover;
}

.cover-chinese {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-chinese.jpg') center no-repeat;
  background-size: cover;
}

.cover-french {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-french.jpg') center no-repeat;
  background-size: cover;
}

.cover-indian {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-indian.jpg') center no-repeat;
  background-size: cover;
}

.cover-italian {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-italian.jpg') center no-repeat;
  background-size: cover;
}

.cover-japanese {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-japanese.jpg') center no-repeat;
  background-size: cover;
}

.cover-korean {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-korean.jpg') center no-repeat;
  background-size: cover;
}

.cover-mexican {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-mexican.jpg') center no-repeat;
  background-size: cover;
}

.cover-nepali {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-nepali.jpg') center no-repeat;
  background-size: cover;
}

.cover-thai {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-thai.jpg') center no-repeat;
  background-size: cover;
}

.cover-vietnamese {
  margin-top: 30px;
  height: 30vh;
  background: url('../img/cover-vietnamese.jpg') center no-repeat;
  background-size: cover;
}