
.def-cover-container {
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-tint {
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
}

.def-logo {
	padding-top: 70px;
	padding-bottom: 50px;
}

.def-intro-text {
  font-weight: bold;
}

.def-menu-container span {
	display: block;
}

.def-menu-container .def-menu-icon {
	padding-top: 100px;
	text-align: center;
}

.section-container {
	height: 800px;
}

.bus-parallax {
	background: center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.def-section-title h4 {
	padding-top: 50px;
	font-weight: 500;
}

.def-section-title hr {
	width: 70%;
}

.def-p-tag {
	font-size: 1.2em;
}

/*.def-bus-menu {
	background-color: #f1f1f1;
}*/

.bus-menu-col {
	max-width: 350px;
}

.bus-menu-items h5 {
	font-weight: 600;
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
}

dt {
	font-weight: 500;
	text-transform: uppercase;
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

dd small, dd strong {
	font-size: 1em;
}

dd strong {
	float: right;
}

.gallery {
	padding-top: 20px;
}

/*.gallery div {
	object-fit: fill;
	overflow: hidden;
}*/

.gallery div img {
	width: 100%;
	height: 33.3vh;
}

.gallery .col {
	padding: 0;
}

.social-icons i {
	padding: 5px;
}

.social-icons a { 
	color: grey; 
} 