
.def-cover-container {
  height: 100vh;
}

.def-cover {
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
}

.def-logo {
	padding-top: 70px;
	padding-bottom: 50px;
}

.def-intro-text {
  font-weight: bold;
}

.def-menu-container span {
	display: block;
}

.def-menu-container .def-menu-icon {
	padding-top: 100px;
	text-align: center;
}

.section-container {
	height: 600px;
}

.def-brief-info h4 {
	padding-top: 50px;
	font-weight: 500;
}

.def-brief-info hr {
	width: 70%;
}

.def-p-tag {
	font-size: 1.2em;
}

.def-brief-info p {
	padding-top: 30px;
}

.def-cards {
	padding-top: 80px;
}